body, input, button {

    font-family: 'Roboto', sans-serif;
}

body {
    background: aliceblue;
    padding: 50px;
}

img {
    width:200px;
    height: 200px;
}


button {
    cursor: pointer;
    width: 100px;
}


